<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>reservationsApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalleController</display-name>
    <servlet-name>SalleController</servlet-name>
    <servlet-class>controller.SalleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalleController</servlet-name>
    <url-pattern>/salles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreneauxController</display-name>
    <servlet-name>CreneauxController</servlet-name>
    <servlet-class>controller.CreneauxController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreneauxController</servlet-name>
    <url-pattern>/creneaux</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanningController</display-name>
    <servlet-name>PlanningController</servlet-name>
    <servlet-class>controller.PlanningController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanningController</servlet-name>
    <url-pattern>/planning</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationController</display-name>
    <servlet-name>ReservationController</servlet-name>
    <servlet-class>controller.ReservationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationController</servlet-name>
    <url-pattern>/reservations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientController</display-name>
    <servlet-name>ClientController</servlet-name>
    <servlet-class>controller.ClientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientController</servlet-name>
    <url-pattern>/clients</url-pattern>
  </servlet-mapping>
</web-app>
